body {
    background: wheat;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    width: 40%;
    margin: 0 auto;
    padding-bottom: 20px;
    margin-top: 50px;
    border-radius: 10px;
}